nav {
  background-color: white;
  height: 80px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-links a {
  color: rgb(var(--foreground-rgb));
  font-weight: 700;
  opacity: 0.5;
}

.nav-logo_image {
  width: 200px;
  position: absolute;
  top: 0rem;
  filter: invert(1);
}

.nav-active {
  filter: opacity(1);
}

@media (prefers-color-scheme: dark) {
  nav {
    background-color: #080808;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }
  .nav-logo_image {
    filter: invert(0);
  }
}
.nav-container {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 1.25rem;
}
