form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form_item label {
  font-weight: 600;
  font-size: 1.25rem;
}

.form_item input,
.form_item textarea {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(var(--foreground-rgb));
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.form_item input:focus,
.form_item textarea:focus {
  outline: none;
  border: 1px solid #3b82f6;
  transition: all 0.35s ease-in-out;
}

button {
  border: none;
  outline: none;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
